:root {
    --roxo-escuro: #6A509D;
    --roxo-claro: #7E61A7;
    --rosa: #CF4793;
    --ciano: #31B4A6;
    --ciano-hover: #268D82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#btn-link {
    color: var(--ciano);
    text-decoration: none;
    font-weight: 500;
}

#btn-primary {
    background-color: var(--ciano);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
}

#btn-primary:hover {
    transform: translateY(-4px);
    background-color: var(--ciano-hover);
}

#btn-secondary {
    border: 1px solid var(--ciano);
    color: var(--ciano);
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
}

#btn-secondary:hover {
    transform: translateY(-4px);
    color: white;
    background-color: var(--ciano);
}

body {
    font-family: 'Outfit', sans-serif;
    background: #030712;
    color: rgb(255, 255, 255);

}

section,
header {
    padding: 2.5rem 4.5rem;
}

h2 {

    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}


/* HERO */

header {

    position: relative;

    min-height: 100vh;

    background-image: url("../img/Hero.png");

    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}

.overlay {

    position: absolute;
    inset: 0;

    background:
        linear-gradient(rgba(0, 0, 0, .35),
            rgba(0, 0, 0, .55));

    backdrop-filter: blur(1px);
}

nav {

    position: relative;

    z-index: 2;


    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        list-style: none;
        gap: 1.2rem;
    }


}

nav img {

    width: 130px;
}

#hero-content {
    position: relative;

    z-index: 2;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-badge {
    color: var(--rosa);
    font-size: .9rem;
    text-transform: uppercase;
}

#hero-content {
    width: 50%;
    display: flex;
    gap: 1rem;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
    }

    span {
        color: var(--rosa);
    }
}

#hero-content p {
    font-size: 1.15rem;
    color: white;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-stats {
    color: white;

    font-size: .9rem;
}

/* ========================= */
/* SOLUÇÃO */
/* ========================= */

#solucao {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.cards-container,
.challenge-list {

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(10rem, 25rem));
    justify-content: space-between;

    gap: 2.5rem;
}

.solution-card {
    border: 1px solid var(--roxo-claro);
    display: flex;
    flex-direction: column;
    background-color: #11111B;
    border-radius: 30px;

    div {
        padding-inline: 2rem;
        padding-block: 1.5rem;


        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-weight: lighter;
        }
    }

}


/* ========================= */
/* DESAFIOS */
/* ========================= */

.challenge-card img {

    width: 280px;

    border-radius: 12px;
}

.challenge-text {

    flex: 1;
}

.challenge-text h3 {

    font-size: 1.4rem;

    margin-bottom: 15px;

    line-height: 1.4;
}

.challenge-text p {

    color: #c6c6c6;

    line-height: 1.7;
}

.offset {

    margin-left: 180px;
}

@media(max-width:900px) {

    .challenge-card,
    .challenge-card.right {

        flex-direction: column;
    }

    .challenge-card img {

        width: 100%;
    }

    .challenge-header h2 {

        font-size: 2rem;
    }

    .offset {

        margin-left: 0px;
    }
}

/* RESPONSIVO */

@media(max-width:768px) {

    header {

        padding: 30px;
    }

    .hero-content h1 {

        font-size: 2.5rem;
    }

    .hero-content p {

        font-size: 1rem;
    }

    .hero-buttons {

        flex-direction: column;

        width: 100%;
    }

    .btn-primary,
    .btn-secondary {

        width: 100%;
    }
}